---
http_interactions:
- request:
    method: get
    uri: https://<USER>:<PASSWORD>@api.github.com/authorizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Otp:
      - required; app
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1445831862'
    body:
      encoding: UTF-8
      string: '{"message":"Must specify two-factor authentication OTP code.","documentation_url":"https://developer.github.com/v3/auth#working-with-two-factor-authentication"}'
  recorded_at: Mon, 26 Oct 2015 03:05:45 GMT
- request:
    method: get
    uri: https://<USER>:<PASSWORD>@api.github.com/authorizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Github-Otp:
      - '120193'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4780'
      X-Ratelimit-Reset:
      - '1445829724'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":23673992,"url":"https://api.github.com/authorizations/23673992","app":{"name":"requesting_scopes/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"","hashed_token":"e41f77be9fe2994e5505437dce25574472b2d64f512305ccb25af6ec36cc9fc5","token_last_eight":"fc1217c4","note":"requesting_scopes/bean","note_url":null,"created_at":"2015-10-26T02:45:38Z","updated_at":"2015-10-26T02:45:38Z","scopes":["gist","delete_repo"],"fingerprint":null},{"id":23673993,"url":"https://api.github.com/authorizations/23673993","app":{"name":"autosave_test/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"","hashed_token":"db9bfd126cdb10eca25a06df972099ef8f1ff85014a982755efc2f0ef07bc975","token_last_eight":"da02795d","note":"autosave_test/bean","note_url":null,"created_at":"2015-10-26T02:45:38Z","updated_at":"2015-10-26T02:45:38Z","scopes":[],"fingerprint":null},{"id":23673996,"url"[...]
- request:
    method: delete
    uri: https://<USER>:<PASSWORD>@api.github.com/authorizations/23673998
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Github-Otp:
      - '120193'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4779'
      X-Ratelimit-Reset:
      - '1445829724'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Oct 2015 03:05:45 GMT
- request:
    method: post
    uri: https://<USER>:<PASSWORD>@api.github.com/authorizations
    body:
      encoding: UTF-8
      string: '{"note":"two_factor_token/bean","scopes":[]}'
    headers:
      Content-Type:
      - application/json
      X-Github-Otp:
      - '120193'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4778'
      X-Ratelimit-Reset:
      - '1445829724'
      Location:
      - https://api.github.com/authorizations/23674459
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":23674459,"url":"https://api.github.com/authorizations/23674459","app":{"name":"two_factor_token/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"2fa_required_token","hashed_token":"87c324bc4fdc955e9889f7e8ae11dd36af634be132543fd92c696e9f81fff60b","token_last_eight":"1e2dc47a","note":"two_factor_token/bean","note_url":null,"created_at":"2015-10-26T03:05:45Z","updated_at":"2015-10-26T03:05:45Z","scopes":[],"fingerprint":null}'
  recorded_at: Mon, 26 Oct 2015 03:05:46 GMT
recorded_with: VCR 2.9.3
