---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/authorizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Otp:
      - required; app
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1470621361'
    body:
      encoding: UTF-8
      string: '{"message":"Must specify two-factor authentication OTP code.","documentation_url":"https://developer.github.com/v3/auth#working-with-two-factor-authentication"}'
  recorded_at: Mon, 08 Aug 2016 01:34:09 GMT
- request:
    method: get
    uri: https://api.github.com/authorizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Github-Otp:
      - '307015'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1470623455'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":44102334,"url":"https://api.github.com/authorizations/44102334","app":{"name":"requesting_scopes/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"","hashed_token":"edd6c8f41d0c8aa694dcc13650882b3f4496a1e000cf23c8d480c21965ac2080","token_last_eight":"ddf64216","note":"requesting_scopes/bean","note_url":null,"created_at":"2016-08-08T01:30:55Z","updated_at":"2016-08-08T01:30:55Z","scopes":["gist","delete_repo"],"fingerprint":null},{"id":44102335,"url":"https://api.github.com/authorizations/44102335","app":{"name":"autosave_test/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"","hashed_token":"8330b0b6605edb4668d26d5e3aa081d99a2bc09daaf081512fda5687f70923b0","token_last_eight":"e501b9f8","note":"autosave_test/bean","note_url":null,"created_at":"2016-08-08T01:30:55Z","updated_at":"2016-08-08T01:30:55Z","scopes":[],"fingerprint":null},{"id":44102337,"url"[...]
- request:
    method: delete
    uri: https://api.github.com/authorizations/44102341
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Github-Otp:
      - '307015'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1470623455'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2016 01:34:09 GMT
- request:
    method: post
    uri: https://api.github.com/authorizations
    body:
      encoding: UTF-8
      string: '{"note":"two_factor_token/bean","scopes":[]}'
    headers:
      Content-Type:
      - application/json
      X-Github-Otp:
      - '307015'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1470623455'
      Location:
      - https://api.github.com/authorizations/44102571
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":44102571,"url":"https://api.github.com/authorizations/44102571","app":{"name":"two_factor_token/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"2fa_required_token","hashed_token":"2f386922bc5b6b543cf2fc65be3401243a842bb34c8925c6d20fcd6269de10d3","token_last_eight":"7f62752b","note":"two_factor_token/bean","note_url":null,"created_at":"2016-08-08T01:34:10Z","updated_at":"2016-08-08T01:34:10Z","scopes":[],"fingerprint":null}'
  recorded_at: Mon, 08 Aug 2016 01:34:10 GMT
recorded_with: VCR 3.0.3
