---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/authorizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1470623455'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":44102334,"url":"https://api.github.com/authorizations/44102334","app":{"name":"requesting_scopes/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"","hashed_token":"edd6c8f41d0c8aa694dcc13650882b3f4496a1e000cf23c8d480c21965ac2080","token_last_eight":"ddf64216","note":"requesting_scopes/bean","note_url":null,"created_at":"2016-08-08T01:30:55Z","updated_at":"2016-08-08T01:30:55Z","scopes":["gist","delete_repo"],"fingerprint":null},{"id":44102335,"url":"https://api.github.com/authorizations/44102335","app":{"name":"autosave_test/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"","hashed_token":"8330b0b6605edb4668d26d5e3aa081d99a2bc09daaf081512fda5687f70923b0","token_last_eight":"e501b9f8","note":"autosave_test/bean","note_url":null,"created_at":"2016-08-08T01:30:55Z","updated_at":"2016-08-08T01:30:55Z","scopes":[],"fingerprint":null},{"id":44102337,"url"[...]
- request:
    method: post
    uri: https://api.github.com/authorizations
    body:
      encoding: UTF-8
      string: '{"note":"write_first_test/bean","scopes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1470623455'
      Location:
      - https://api.github.com/authorizations/44102342
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":44102342,"url":"https://api.github.com/authorizations/44102342","app":{"name":"write_first_test/bean","url":"https://developer.github.com/v3/oauth_authorizations/","client_id":"00000000000000000000"},"token":"write_first_test_token","hashed_token":"e54a047c1c4269f92fc237452a1571c7320b4eb76772ec8ad7a997878a75c8c6","token_last_eight":"1d1df405","note":"write_first_test/bean","note_url":null,"created_at":"2016-08-08T01:30:57Z","updated_at":"2016-08-08T01:30:57Z","scopes":[],"fingerprint":null}'
  recorded_at: Mon, 08 Aug 2016 01:30:57 GMT
recorded_with: VCR 3.0.3
